.cont1{
position: relative;
width: 888px;
height: 500px;
margin: auto;
top: 30px;
filter: drop-shadow(5px 5px 20px #555);
}
.card1{
margin-left: 20px;
width: 888px;
height: 500px;
background-repeat: no-repeat;
background-image: url("fc.jpg");
border-radius: 30px;
box-shadow: inset 100px 0px 200px #000;
background-size: contain;
margin: auto;
}

#logo1{
width: 300px;
position: relative;
top: 70px;
left: 60px;
}
.dispo1{
color: #fff;
font-family: 'Poppins',sans-serif; 
position: relative;
top: 90px;
left: 60px;

}
.textGame1{
color: #fff;
font-family: 'Poppins',sans-serif; 
position: relative;
width: 350px;
top: 110px;
left: 60px;
font-weight: 600;
}
.prix1{
color: #fff;
font-family: 'Poppins',sans-serif; 
position: relative;
top: 120px;
left: 60px;
}
span{
margin-left: 10px;
font-family: 'Poppins',sans-serif; 
font-weight:700 ;
}

.btnAchete1{
color: #000;
position: relative;
font-family: 'Poppins',sans-serif; 
background-color: #fff;
width: 200px;
border-radius: 30px;
top: 140px;
left: 60px;
padding: 20px 40px;
transition: 0.8s;
}
.btnAchete1:hover{
background-color: #d4d4d4;
cursor: pointer;
transition: 0.8s;
}